<hello name="{{ name }}"></hello>
<form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">
  <input type="text" ngModel name="name" placeholder="Enter your name" />
  <br />
  <input type="email" ngModel name="email" placeholder="Enter your email" />
  <br />
  <input
    type="password"
    ngModel
    name="password"
    placeholder="Enter your password"
  />
  <br />
  <button>Register</button>
</form>

<button (click)="toggle()">Clik me</button>
<p ngif= >Here i am doing things out of the blue</p>
<ul>
  <li>
    {{ userData.name }}
  </li>
  <li>
    {{ userData.email }}
  </li>
  <li>
    {{ userData.password }}
  </li>
</ul>
