<hello name="{{ name }}"></hello>
<form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">
  <input type="text" ngModel name="name" placeholder="Enter your name" />
  <br />
  <input type="email" ngModel name="email" placeholder="Enter your email" />
  <br />
  <input
    type="password"
    ngModel
    name="password"
    placeholder="Enter your password"
  />
  <br />
  <button>Register</button>
</form>

<ul>
  <li>
    {{ userData.name }}
    {{ userData.email }}
    {{ userData.password }}
  </li>
</ul>
